.divGeneral{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}
@media (min-width: 1px){
    .divGeneral { grid-template-columns: repeat(1, 1fr);}
}

@media (min-width: 300px){
    .divGeneral { grid-template-columns: repeat(1, 1fr);}
}

@media (min-width: 600px){
    .divGeneral { grid-template-columns: repeat(2, 1fr);}
}

@media (min-width: 900px){
    .divGeneral { grid-template-columns: repeat(3, 1fr);}
}

.divGeneral > div {
    flex: 1 1 200px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .containerItem{
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;    
  }

  .buttonGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginButton{
    width: 100%;
    height: 4em;
    margin-top: 20px;
    background-color: rgb(0, 161, 81);
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(189, 189, 189);
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

.defaultText{
    margin-left: 10px;
    font-size: 30px;
}

.productsButton{
    width: 12em;
    height: 55px;
    background-color: rgb(0, 161, 81);
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(189, 189, 189);
    color: white;
    font-size: 20px;
}

.searchAndButtonsNav{
    margin-top:10px;
    display: flex;
    
}
.searchNav {
    margin-top:20 px;
    display: flex;
    flex-direction: row;
}

@media (min-width: 300px){
    .searchAndButtonsNav { flex-direction: column;}
}

@media (min-width: 600px){
    .searchAndButtonsNav { flex-direction: row;}
}