.imageProduct{
    max-width:100%;
    max-height:100%;
    height:20em;
    align-items: center;
    cursor: pointer;
}

.containerProduct{
margin-left: 10px;
margin-right: 10px;
width: 40em;
}

.containerData{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.generalContainerProductData{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40em;
}


.containerProductData{
    display: flex;
    flex-direction: row;
    
    background-color: white;
    border-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    
}

.containerForm{
    
    width: 30em;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.textStyle{
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between
}

.box{
    width: 70%;
}

.loginButton{
    width: 100%;
    height: 4em;
    margin-top: 20px;
    background-color: rgb(0, 161, 81);
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(189, 189, 189);
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

.loginButton:hover{
    background-color:rgb(0, 190, 95);;

}

.offerButton{
    width: 70%;
    height: 3em;
    background-color: rgb(0, 161, 81);
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(189, 189, 189);
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

.offerButton:hover{
    background-color:rgb(0, 190, 95);;

}
.textStyle{
    width: 20em;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between
}